<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,viewport-fit=cover">
    <title>Saimohan's Portfolio </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styling-home.css')}}">
    <script src="./index.js">

    </script>
</head>

<body>
    <div class="body-container elementor-kit-120">
        <div class="content">
            <div class="intro">
                <h1>Saimohan
                    Soundararajan</h1>
                <h3><span class="icon">📉</span>Data Analyst<span class="icon">📈</span></h3>
                <p>Transforming raw data into actionable insights, catalyzing informed decisions, and contributing to
                    positive global impact through analytics.</p>

            </div>

            <div class="columns">

                <div class="column">
                    <img src="https://iili.io/JGKVV9I.png">
                    <h5>Data Interpretation</h5>
                    <div class="part1">
                        Unveiling patterns and trends, I specialize in decoding complex datasets. My knack for turning
                        numbers into actionable insights ensures informed decision-making for business growth.
                    </div>
                </div>

                <div class="column">
                    <img src="https://iili.io/JGKVl6v.png">
                    <h5>Statistical Analysis</h5>
                    <div class="part1">
                        Proficient in advanced statistical methods, I extract meaningful conclusions from data noise. My
                        expertise empowers businesses to optimize strategies, enhance performance, and stay ahead in a
                        data-driven world.
                    </div>
                </div>

                <div class="column">
                    <img src="https://iili.io/JGKVPou.png" alt="Image 3">
                    <h5>Data Visualization</h5>
                    <div class="part1">
                        I bring data to life through compelling visual narratives. From interactive dashboards to
                        insightful charts, my expertise in visualization not only simplifies complex data but also
                        communicates impactful stories to diverse audiences.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blue-background">
        <div class="image-column">
            <img src="https://iili.io/JGTacdJ.jpg" alt="Your Image">
        </div>

        <div class="about-me-column">
            <h2>About Me</h2>
            <span>They say I look like Thalapathy Vijay</span>
            <p>
                "They call me Master, maatrangal varum faster!""
            </p>
        </div>
    </div>
    <div class="part2">
        <h2 class="text-stroke">
            Portfolio
        </h2>
        <div class="portfolio-container">
            <div class="portfolio-gallery">
                <div class="container">
                    <img src="https://iili.io/JViKMvf.jpg" alt="graph_1" class="portfolio-img" />
                    <a href="sai idea.html" target="_blank">
                        <div class="overlay">
                            <div class="flex">
                                <div class="text">
                                    <span style="font-weight: bold;">Time Series Analysis</span>
                                    <p>Visualize sales trends over time.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container">
                    <img src="./assets/pexels-burak-the-weekender-187041.jpg" alt="graph_2" class="portfolio-img" />
                    <a href="./assets/graphs/Time series analysis.html" target="_blank">
                        <div class="overlay">
                            <div class="flex">
                                <div class="text">
                                    <span style="font-weight: bold;">Sales Segmentation Analysis</span>
                                    <p>Analyse product sales for strategic insights using category and sub-category
                                        distribution</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container">
                    <img src="./assets/pexels-lukas-577210.jpg" alt="graph_3" class="portfolio-img" />
                    <a href="./assets/graphs/Sales Analysis by Cat and SUbcat.html" target="_blank">
                        <div class="overlay">
                            <div class="flex">
                                <div class="text">
                                    <span style="font-weight: bold;">Geospatial Sales Analysis</span>
                                    <p>Utilize a map visualization to explore sales distribution across different
                                        regions or cities.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container">
                    <img src="./assets/pexels-pixabay-265087.jpg" alt="graph_4" class="portfolio-img" />
                    <a href="./assets/graphs/Sales percentage Analysis.html" target="_blank">
                        <div class="overlay">
                            <div class="flex">
                                <div class="text">
                                    <span style="font-weight: bold;"> Regional Profit Analysis </span>
                                    <p>Utilize a map visualization to explore sales distribution across different
                                        regions or cities.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container">
                    <img src="./assets/pexels-thisisengineering-3861957.jpg" alt="graph_1" class="portfolio-img" />
                    <a href="./assets/graphs/Geospatial Analysis Of Sales.html" target="_blank">
                        <div class="overlay">
                            <div class="flex">
                                <div class="text">
                                    <span style="font-weight: bold;"> Regional Profit Analysis </span>
                                    <p>Utilize a map visualization to explore sales distribution across different
                                        regions or cities.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container">
                    <img src="./assets/pexels-yan-krukau-7691673.jpg" alt="graph_2" class="portfolio-img" />
                    <a href="./assets/graphs/Scatter plot for Dis & Pro.html" target="_blank">
                        <div class="overlay">
                            <div class="flex">
                                <div class="text">
                                    <span style="font-weight: bold;"> Discount-Profits Optimization </span>
                                    <p> To enhance overall competetitiveness in the market by visualizing the
                                        correlation between discount and profit.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container">
                    <img src="./assets/pexels-alesia-kozik-6770610.jpg" alt="graph_3" class="portfolio-img" />
                    <a href="./assets/graphs/Analysis Of profit by Cat and Subcat.html" target="_blank">
                        <div class="overlay">
                            <div class="flex">
                                <div class="text">
                                    <span style="font-weight: bold;"> Category-wise Profits </span>
                                    <p>To understand how proftits and profit distribution vary across product categories
                                        for growth strategies. </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container">
                    <img src="./assets/pexels-anna-nekrashevich-6801647.jpg" alt="graph_4" class="portfolio-img" />
                    <a href="./assets/graphs/Analysis Of profit by Region.html" target="_blank">
                        <div class="overlay">
                            <div class="flex">
                                <div class="text">
                                    <span style="font-weight: bold;"> Sales vs. Profit Bubble Chart </span>
                                    <p>Displaying sales, profit, and discount relationships to explore dimensions
                                        visually and for a comprehensive understanding of data. </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container">
                    <img src="./assets/pexels-leeloo-the-first-5561913.jpg" alt="graph_4" class="portfolio-img" />
                    <a href="./assets/graphs/Bubble chart Analysis on profit.html" target="_blank">
                        <div class="overlay">
                            <div class="flex">
                                <div class="text">
                                    <span style="font-weight: bold;"> Time Series Analysis II </span>
                                    <p>Unveils patterns and trends in data over time, offering valuable insights</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="contactainer">
            <h2>Contact Me</h2>
            <p>Phone no: +91-6360341873</p>
            <p>E-mail: <a href="mailto:saimohan.soundararajan@gmail.com">saimohan.soundararajan@gmail.com</a></p>
            <p>Linked-in: <a href="http://www.linkedin.com/in/saimohan-soundararajan-988aa7270" target="_blank">
                    http://www.linkedin.com/in/saimohan-soundararajan-988aa7270</a></p>
            <p>Address: Kovaipudur, Coimbatore ,641042</p>
            <div style="text-align:center">
                <button id="downloadButton">Resume</button>
            </div>
        </div>
    </div>
    <!-- <div class="graph">
                <iframe src="graph.html" width="600" height="400"></iframe>
            </div> -->



</body>

</html>